<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.soilmate">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Android 12+ (API 31 and above) additional permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />




    <application

            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/sm_logo_foreground"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/sm_logo_foreground"
            android:supportsRtl="true"
            android:theme="@style/Theme.SoilMate"
            android:usesCleartextTraffic="true"

            tools:targetApi="31">

        <activity
                android:name=".ChangeEmailVerifSent"
                android:exported="false"/>
        <activity
                android:name=".VerificationSent"
                android:exported="false"/>
        <activity
                android:name=".Splash"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TrashedPlants"
                android:exported="false"/>
        <activity
                android:name=".TrashedWaterHistory"
                android:exported="false"/>
        <activity
                android:name=".MyAccount"
                android:exported="false"/>
        <activity
                android:name=".EditPlantPopUp"
                android:exported="false" tools:ignore="Instantiatable"/>
        <activity
                android:name=".AddPlantPopUp"
                android:exported="false" tools:ignore="Instantiatable"/>
        <activity
                android:name=".UserGuide"
                android:exported="false"/>
        <activity
                android:name=".FAQDetails"
                android:exported="false"/>
        <activity
                android:name=".Help"
                android:exported="false"/>
        <activity
                android:name=".Watering_History"
                android:exported="false"/>
        <activity
                android:name=".PlantDetails"
                android:exported="false"/>
        <activity
                android:name=".MyPlants"
                android:exported="false"/>
        <activity
                android:name=".RecoverySent"
                android:exported="false"/>
        <activity
                android:name=".AccountRecovery"
                android:exported="false"/>
        <activity
                android:name=".Signup"
                android:exported="false"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".Login"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
        </activity>
    </application>

</manifest>